<fieldset id="insertMedia">
  <legend>Insertion User</legend>
  <label>Nom</label>
  <input name="nom" />

  <label>Prenom</label>
  <input name="prenom" />

  <label>Login</label>
  <input name="login" />

  <label>Password</label>
  <input id="btn_insertion_media" name="password" />

  <button>Ajouter</button>
</fieldset>

<fieldset id="insertMedia">
  <legend>Insertion Media</legend>
  <label>Libelle</label>
  <input name="libelle" />

  <label>Description</label>
  <input name="description" />

  <label>Auteur</label>
  <input name="auteur" />

  <label>Réalisateur</label>
  <input name="realisateur" />

  <button id="btn_insertion_media">Ajouter</button>
</fieldset>
